<!DOCTYPE html>

<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="代金券.商家代金券分发平台，用户管理收到的代金券。">
    <title>
        代金券.商家代金券分发平台，用户管理收到的代金券
    </title>
    <!-- Bootstrap core CSS -->
    <link href="./indexlink/bootstrap.min.css" rel="stylesheet">
    <!-- Documentation extras -->
    <link href="./indexlink/docs.min.css" rel="stylesheet">
</head>

<body class="bs-docs-home">
    <a id="skippy" class="sr-only sr-only-focusable" href="https://v3.bootcss.com/#content">
        <div class="container">
            <span class="skiplink-text">Skip to main content</span>
        </div>
    </a>
    <!-- Docs master nav -->
    <header class="navbar navbar-static-top bs-docs-nav" id="top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav id="bs-navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li >
                            <a href="./index.html" class="navbar-brand">首页</a>
                        </li>
                        <li > 
                            <a href="./merchant.html" class="navbar-brand" title="创建代金券，购买正在发售的代金券">商户中心</a>
                        </li>
                        <li class="active">
                            <a href="./vouchers.html" class="navbar-brand" title="分发给我的代金券"><span class="text-danger">我的代金券</span></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li > 
                            <a href="./help.html" class="navbar-brand">使用帮助</a>
                        </li>
                    </ul>
                </nav>
        </div>
    </header>
    <hr />
    <div class="container" id=activityDiv>
         <div class="col-sm-6 text-center" style="height: 500px;" v-if="isLoading">
               <img src="./img//loading.gif" style="margin-top: 100px">
        </div>
        <div v-for="item of items" v-if="haveVouchers">
            <div class="col-sm-6">
                <div style="height: 12px;"></div>
                <div class="panel panel-danger" style="background-image: url(./img/bgsmall.jpg);color: #fff">
                    <p style="margin: 0px 12px 12px 12px; font-size: 32px;color: goldenrod">{{item.title}}</p>
                    <p style="margin: 12px; font-size: 22px">{{item.content}}</p>
                    <p style="margin: 12px; font-size: 22px">价值(NAS)：{{item.value}}&nbsp;NAS </p>
                    <p style="margin: 12px; font-size: 22px">面额(RMB)：{{item.amount}}元</p>
                    <p style="margin: 12px; font-size: 22px">有效期：{{item.toDate}}</p>
                    <p style="margin: 12px; font-size: 18px;color:#ccc">所有权：{{item.owner}}</p>
                </div>
                <div>
                        <button class="btn btn-outline btn-block" v-on:click="activity(item.fromId)">查看详情 | 再次购买</button>
                    </div>
            </div>
        </div>
        <div v-else class="text-center" style="margin: 200px 0px">
            <p>还没有代金券.</p>
            <a href="./merchant.html" class="btn btn-outline btn-lg">去商户中心逛逛</a>
        </div>
        <hr />
        
    </div>
    <footer class="bs-docs-footer">
            <div class="container">
                <p>Copyright © 2018 星云代金券，联系我们<a href="mailto:indiestudio@outlook.com" target="_blank">indiestudio@outlook.com</a> </p>
            </div>
        </footer>
</body>
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src=lib/nebPay.js></script>
<script src="https://cdn.bootcss.com/babel-polyfill/7.0.0-beta.49/polyfill.min.js"></script>
<script>
    "use strict";
    var dappAddress = "n1uc6Aas79FMdtYTaCVWHVrxmqNDh7Hc5Le";
    var NebPay = require("nebpay");
    var nebPay = new NebPay();
    //var nebulas = require("nebulas"),
    //    Account = nebulas.Account,
    //    Utils = nebulas.Utils,
     //   neb = new nebulas.Neb();
    var serialNumber;
    var intervalQuery;
    var queryTimes = 0;
    var callbackUrl = NebPay.config.mainnetUrl;
    //neb.setRequest(new nebulas.HttpRequest("https://mainnet.nebulas.io"));
    var vm = new Vue({
        el: "#activityDiv",
        data: {
            wallet: typeof (webExtensionWallet) === "undefined",
            items: [{}],
            isBusy: false,
            isLogin: false,
            selectedItem: {},
            test: "test",
            //balance: nebulas.Unit.fromBasic(0, "wei"),
            isLoading: false
        },
        computed: {
            // 计算属性的 getter
            haveVouchers: function () {
                // `this` 指向 vm 实例
                return this.items[0].fromId ? true : false;
            }
        }
    });




    function getMyVouchers() {
        var to = dappAddress;
        var value = 0;
        var callFunction = "getMyVouchers"
        var callArgs = ""
        var options = {
            goods: {
                name: "example"
            },
            callback: callbackUrl
        }
        var listener = function (resp) {
            console.log("getAllArticles:::" + JSON.stringify(resp));
            var res = resp.result;
            var data = jQuery.parseJSON(resp.result)
            if (data) {
                console.log("getAllArticles:::" + JSON.stringify(data.activities));
                vm.$data.items = data.list.reverse();
                console.log("getAllArticles:::" + JSON.stringify(vm.items));
            }
            vm.$data.isLoading = false;
        }
        nebPay.simulateCall(to, value, callFunction, callArgs, {
            listener: listener
        });
    }


    function activity(id) {
        var url = 'activity.html?id=' + id;
        url = encodeURI(url);
        window.open(url,"_self");
    }

    
    $(document).ready(function () {
        vm.$data.isLoading = true;
        getMyVouchers();
        
    });
</script>

</html>
